body {
    margin: 0;
    overflow: hidden;
    display: flex;
    background-color: salmon;
    justify-content: center;
    align-items: center;
}

 #verticalButtons {
    display: flex;
    flex-direction: column;
 }

 button {
    border: none;
    border-radius: 5px;
    padding: 291% 7px;
    margin: 3px;
    cursor: pointer;
 }

button:hover {
    background-color: yellowgreen;
}

#networkCanvas {
    background-color: black;
}

#carCanvas {
    background-color: lightgrey;
}